* {
	box-sizing: border-box;
}

body {
	width: 960px;
	background-color: lightgray;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	margin: auto;
}

 #header{
 	display: block;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	float: left;
}

#wrapper {
	width: 960px;
	border-bottom-width: 1px;
	margin: auto;
}

a {
	text-decoration: none;
}

div.h2 {
	overflow: hidden;
	text-align: right;
}

img {
	float: left;
	width: 20%;
	padding: 5px;
	border-top: 2px;
}



.left {
	float: left;
	display: block;
	padding-left: 40px;
	width: 650px;
	overflow: hidden;
	background-color: white;
	border: 2px;
	border-width: 1px;
	overflow: auto;
	clear: left;
}

p {
	color: #777777;
}

.right {
	float: left;
	display: block;
	background: white;
	width: 30%;
	padding: 10px;
}

aside, h2 {
	color: #4aaaa5;
}

.clear {
	clear: both;
}

footer {
	background-color: #666666;
	padding: 10px;
	margin-top: 10px;
	border-top: 5px solid;
	border-top-color: #4aaaa5;
	text-align: center;
}